@page
@model AAI.GenericChatInterface.Pages.Profile.MyPageModel

@{
    var name = User.Identity?.Name ?? "";
    ViewData["Title"] = "My Profile " + name;
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form method="post">
    <div class="form-check mb-3 mt-3">
        <input type="hidden" asp-for="MySettings.AppSettingsId">
        <input class="form-check-input" role="switch" type="checkbox" asp-for="MySettings.NotificationsEnabled">
        <label class="form-check-label" asp-for="MySettings.NotificationsEnabled">
            Enable notifications
        </label>
    </div>
    <div class="mb-3">
        <label asp-for="MySettings.BotMode.BotModeId" class="form-label">Choose bot mode</label>
        <select class="form-select" aria-label="bot mode" asp-for="MySettings.BotMode.BotModeId">
            @foreach (var botMode in Model.BotModes)
            {
                if (botMode.BotModeId == Model.MySettings.BotMode.BotModeId)
                {
                    <option value="@botMode.BotModeId" selected>@botMode.Name</option>
                }
                else
                {
                    <option value="@botMode.BotModeId">@botMode.Name</option>
                }
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Save <i class="fa-solid fa-floppy-disk"></i></button>
</form>

